<div id="userQuestion">
  <% if @user_question == "" %>
    <p>[student mumbling...]</p>
  <% else %>
    <p><%= @user_question.capitalize %></p>
  <% end %>
  <p class="person">-You</p>
</div>

<div id="coachAnswer">
  <% if @user_question == "I am going to work" %>
    <p>Great!</p>
  <% elsif @user_question.end_with?("?") %>
    <p>Silly question, get dressed and go to work!</p>
  <% elsif @user_question == "" %>
    <p>What's that again?</p>
  <% else %>
    <p>I don't care, get dressed and go to work!</p>
  <% end %>
  <p class="person">-Your coach</p>
</div>

<%= link_to 'Ask another question', ask_path, { id: 'askLink' }%>
